---
layout: page
lang: zh
title: 动态与活动
permalink: /zh/news/
---
{% assign t = site.data[page.lang] %}

{% assign all_posts = site.posts | sort: "date" | reverse %}

{% if all_posts.size > 0 %}
<ul class="posts-list">
    {% for post in all_posts %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        {% if post.categories.size > 0 %}
        <span class="post-cats">
            {% for cat in post.categories %}
            <span class="post-cat">{{ cat }}</span>
            {% endfor %}
        </span>
        {% endif %}
        {{ post.excerpt | markdownify }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{{ t.news_page.no_posts }}</p>
{% endif %}
