---
layout: page
lang: zh
title: 最新动态
permalink: /zh/news/
---
{% assign t = site.data[page.lang] %}

{% assign news_posts = site.posts | where_exp: "post", "post.categories contains 'news'" %}

{% if news_posts.size > 0 %}
<ul class="posts-list">
    {% for post in news_posts %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        {{ post.excerpt | markdownify }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{{ t.news_page.no_posts }}</p>
{% endif %}
