---
layout: page
lang: zh
title: 讲座与活动
permalink: /zh/talks/
---
{% assign t = site.data[page.lang] %}

{% assign talk_posts = site.posts | where_exp: "post", "post.categories contains 'talks'" %}

{% if talk_posts.size > 0 %}
<ul class="posts-list">
    {% for post in talk_posts %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        {{ post.excerpt | markdownify }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{{ t.talks_page.no_posts }}</p>
{% endif %}
